.pageContainer {
    width: 100%;
    height: 100%;

}

.page {
    width: 100%;
    height: 100%;
}
.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #85d1ec;
    padding: 10px;
    justify-content: flex-end;
}
.controlButton{
  background-color: #53C68E;
  color: white;
  border: 1.5px solid white;
  padding: 14px 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.controlButton:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
