.materialsSingleCourseContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.closeButton {
    cursor: pointer;
    background-color: #ffffff;
    border: 4px solid #53C68E;
    color: black;
    width: 10%;
    padding: 0.5em;
    margin-left: 0.5em;
    font-weight: 600;
    font-family: "Geist Mono", monospace !important;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.coverLogo {
    width: 20%;
    margin-right: 1.5em;
}

.pdfViewer {
    height: 100%;
}

.input {
    width: 95%;
    height: 50px;
    padding: 0.5em;
}

.inputGroupButton {
    background-color: #F397C1;
    color: white;
    width: 5%;
    padding: 0.5em;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.inputGroupButton:hover {
    background-color: #ee7eb0;
    color: white;
    width: 5%;
    padding: 0.5em;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.materialCourseDescription {
    margin-top: 1em;
    font-family: "Geist", sans-serif;
    background-color: white;
    padding: 0.5em;
    border-radius: 10px;
    color: black;
}

.materialCourseMessage {
    margin-left: 1em;
}

.materialCourseMessageText {
    margin-left: 1em;
    font-family: "Geist", sans-serif;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 13px;
    color: black;
}

.materialCourseMessageTime {
    color: gray;
    font-size: 13px;
    text-align: end;
    margin-left: 1em;


}

.materialCourseMessageTitle {
    font-family: "Geist Mono", monospace !important;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;

}

.materialCourseTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: end;
    text-align: end;
}

.materialCourseChat {
    margin-top: 1em;
    padding: 1em;
    font-family: "Geist", sans-serif;
    background-color: white;
    padding: 0.5em;
    border-radius: 10px;
    color: black;
}

.materialCourse {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}

.materialCoursePdf {
    height: 100%;
    border: 4px solid white;
    ;
    border-radius: 10px;
    overflow: hidden;
}

.materialCourseVideo {
    height: 100%;
    border-radius: 10px;
    border: 4px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.pdfContainer {
    width: 100%;
    height: 100%;
    border: none;
}

.container {
    position: 'relative';
    width: 100%;
    height: 100%;
}

.iframe {
    position: 'absolute';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.materialCourseDescriptionTitle {
    font-family: "Geist Mono", monospace !important;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0.5em;
}

.materialsSingleCourseBlocks {
    width: 100%;
    height: 60vh;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #F397C1;
}

.materialCourseOpenCourse {
    cursor: pointer;
    font-family: "Geist", sans-serif;
    background-color: #f4ede5ab;
    border-radius: 5px;
    padding: 1em;
}