.navContainer {
    font-family: "Geist Mono", monospace !important;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f4ede5ab;

    width: 100%;
}

.navbarContainer {
    padding: 25px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLink {
    padding: 20px;
    color: black;
    font-family: "Geist Mono", monospace !important;
    background-color: #f4ede5ab;
    border: 0px;
    font-size: 15px;
    font-weight: 500;
}

.logoImg {
    width: 70%;
}