.navContainer {
    font-family: "Geist Mono", monospace !important;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f4ede5ab;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    /* This pushes logo left and links right */
    align-items: center;
    width: 100%;

    padding: 5px 30px;

}

.navbarLink {
    padding: 20px;
    color: black;
    font-family: "Geist Mono", monospace !important;
    border: 0px;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
}

.navbarLink:hover {
    background-color: #53C68E;
    border-radius: 5px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.linksContainer {
    display: flex;
    align-items: center;
}
.userMenuContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.navbarLoginLink {
    color: black;
    font-family: "Geist Mono", monospace !important;
    border: 0px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
}

.logoImg {
    width: 60%;
}

.logoUser {
    width: 30%;
    background-color: transparent;
    align-items: center;
    justify-self: center;
    margin-left: 1em;
    cursor: pointer;
}

.logoUser:hover {
    background-color: #f4ede5ab;
    border-radius: 5px;
}

.userLink {
    border: 0px;
    background-color: transparent;
}

.navbarOpenUser {
    position: absolute;
    top: calc(100% + 10px); /* 10px below the user icon */
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.openUserLink {
    padding: 20px;
    color: black;
    font-family: "Geist Mono", monospace !important;
    border: 0px;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
}

.openUserLink:hover {
    background-color: #53C68E;
    border-radius: 5px;
}
