.sectionSixContainer {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    gap: 20px;
    height: 100%;
    border-radius: 10px;
}

.sectionSixContainerTitle {
    font-family: "Geist Mono", monospace !important;
    color: black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.2em;
    text-align: left;
    font-size: clamp(1.5rem, 4vw, 33px);
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.sectionTwoTitleLogo {
    height: auto;
    width: 7%;
    color: black;
    color: black;
    margin-right: 0.5em;
}

.sectionSixContainerInfo {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 1em;
}

.sectionSixContainerInfoCard {
    background-color: #f7f4f1;
    height: 100%;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 6px solid #53C68E;
    padding: 0.5em;
}

.cardRaised {
    transform: translateY(-40px);
    border: 6px solid #FFB71A;
}

.sectionSixTitle {
    font-family: "Geist Mono", monospace !important;
    color: black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.2em;
    text-align: left;
    font-size: 23px;
    font-weight: 600;
}

.highlightText {
    font-weight: 800;
    font-size: 1.2em;
}

.submitBtn {
    font-family: "Geist Mono", monospace !important;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 0.4em;
    font-size: 12px;
    background-color: #F397C1;
    color: black;
    border: none;
    font-weight: 600;
}


.submitBtn:hover {
    font-family: "Geist Mono", monospace !important;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 0.4em;
    font-size: 12px;
    background-color: #f37ab1;
    color: black;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.sectionSixButton {
    font-family: "Geist Mono", monospace !important;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    width: 23%;
    margin: 0.5em;
    padding: 0.4em;
    text-align: center;
    font-size: 13px;
    justify-self: flex-end;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 0.8em;
    text-align: left;
    font-family: "Geist Mono", monospace !important;
    font-weight: 600;
}

.form {
    margin: 0.9em;
}

.inputStyle {
    border-radius: 5px;
    padding: 0.5em;
  font-family: "Geist", sans-serif;
}