.sectionFiveContainer {
    width: 100%;
    height: 60%;
    border-radius: 10px;

}

.sectionFiveContentContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    height: 100%;
}

.sectionFiveRightSide {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 1em;
}

.sectionFiveLeftSide {
    display: grid;
    grid-template-rows: 2fr 2fr;
    height: 100%;
    margin: 1em;
    color: black;
}

.sectionFiveRightSideBlock {
    background-color: #f397c1;
    border-radius: 10px;
}

.sectionFiveRightTextContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-weight: 400;
    color: black;
}

.sectionFiveRightText {
    font-family: "Geist", sans-serif;
    text-align: left;
    align-self: center;
    margin: 1em;
}

.sectionFiveLeftSideTitle {
    text-align: left;
    font-family: "Geist Mono", monospace !important;
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 33px);

}

.coverLogo {
    width: 100%;
}

.sectionFiveRightImg {
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    float: right;
    margin-bottom: 1em;

}

.sectionFiveLeftSideContent {
    text-align: left;
    font-family: "Geist", sans-serif;
    display: flex;
    align-items: flex-start;
    width: 70%;
    font-weight: 400;
    font-size: clamp(0.5rem, 1.4vw, 33px);
    margin-top: 0.6em;


}

.sectionFiveLeftSideSmallTitle {
    font-family: "Geist Mono", monospace !important;
    background-color: #f397c1;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 600;
    width: 20%;
    padding: 0.2em;
    text-align: center;
    font-size: 13px;
    margin-bottom: 0.6em;
}

.sectionFiveRightSideSmallTitle {
    font-family: "Geist Mono", monospace !important;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    width: 13%;
    margin: 0.5em;
    padding: 0.2em;
    text-align: center;
    font-size: 13px;
}

@media (max-width: 768px) {
    .sectionFiveContentContainer {
        grid-template-columns: 1fr;
    }
}