.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 70px; /* Match tapeItem height */
}

.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.lane {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.tapeItem {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 0 20px; /* Add spacing between items */
  padding: 0;
}

.tapeItem svg {
  display: block;
  height: 100%;
  width: auto;
}